.general_body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 22.5vw auto;
    grid-template-rows: 15vh auto;
    grid-template-areas: "body_header body_header"
                         "body_aside body_section"
                         /* "body_footer body_footer" */
    ;
    background-color: var(--color-background);
}

.general_element:not(section) {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */

header {
    background-color: var(--color1);
    grid-area: body_header;
    width: 100%;
    position: sticky;
    height: 15vh;
    z-index: 9999;
    top: 0;
    gap: 5px;
    flex-direction: column;
    color: white;
}

.header_item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

nav {
    background-color: var(--color3);
}

.subheader_item,
.nav_item {
    border-radius: 10px;
    padding-inline: 10px;
    padding-block: 5px;
    text-decoration: none;
}

.nav_item {
    color: white;
    background-color: var(--color5);
}

.subheader_item {
    background-color: white;
    color: var(--color1);
}


/* ASIDE */

aside {
    background-color: var(--color2);
    grid-area: body_aside;
}


/* SECTION */

section.general_element {
    color: white;
    min-height: 100%;
    grid-area: body_section;
    margin: 0px;
    font-size: 0.9rem;
    /* min-height: 100%; */
    /* color: var(--font1); */
    overflow-x: hidden;
    position: relative;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    padding-block: 20px;
    padding-inline: 30px;
    /* flex-direction: column; */
}


/* FOOTER */

footer {
    background-color: var(--color4);
    grid-area: body_footer;   
    min-height: 20vh;
}

