
:root {
    --width-aside: 20vw;
    --heigh-header: 105px;
}

.general_body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: var(--width-aside) auto;
    grid-template-rows: var(--heigh-header) auto;
    grid-template-areas:
        "body_aside body_header"
        "body_aside body_section"
    ;
    background-color: var(--color-background);
}

.general_element:not(section) {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER */

header {
    background-color: var(--color1);
    grid-area: body_header;
    width: 100%;
    position: sticky;
    z-index: 9999;
    top: 0;
    /* gap: 5px; */
    flex-direction: column;
    color: white;
    height: var(--heigh-header);
}

.header_item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 15px;
    text-align: left;
    font-size: 150%;
}

nav.header_item {
    justify-content: flex-start;
    background-color: var(--color2);
    font-size: 120%;
    padding-block: 5px;
}

/* ASIDE */

aside {
    padding: 20px;
    gap: 10px;
    background-color: var(--color3);
    grid-area: body_aside;
    flex-direction: column;
    /* width: 15vw; */
    color: white;
    /* justify-content: flex-end; */
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    z-index: 50;
    width: var(--width-aside);
}

aside::-webkit-scrollbar {
    display: none;
}

aside div {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

aside hr {
    background-color: white;
    width: 100%;
}

.aside_item {
    flex-direction: row;
    text-align: center;
    gap: 5px;
}

/* .aside_options {
} */

.aside_options .aside_item {
    border-radius: 7px;
    padding-inline: 10px;
    padding-block: 5px;
    text-decoration: none;
    background-color: white;
    color: var(--color1);
}

/* SECTION */

section.general_element {
    color: white;
    min-height: 100%;
    grid-area: body_section;
    margin: 0px;
    font-size: 0.9rem;
    /* min-height: 100%; */
    /* color: var(--font1); */
    overflow-x: hidden;
    position: relative;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
    padding-block: 20px;
    padding-inline: 30px;
    /* flex-direction: column; */
}


/* FOOTER */

footer {
    background-color: var(--color4);
    grid-area: body_footer;
    min-height: 20vh;
}

p {
    margin: 0;
}