:root {
    --width-element-column: 5vw;
}

table {
    background-color: white;
    color: #333;
}

td,
th {
    text-align: center;
}

a {
    color: black;
}

th {
    padding-inline: 20px;
    color: white;
}

.campo_buscar {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.campo_buscar form {
    width: 100%;
}

button {
    border-radius: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.button_volver {
    background-color: #7200a7;
    color: white;
    padding-inline: 10px;
    padding-block: 5px;
}

/* TABLA RESULTADOS */

.table_results {
    border-radius: 10px;
    font-size: 90%;
    box-shadow: 0 4px 8px #0000006c;

}

.table_results th {
    background-color: var(--color4);
    border: 0;
}

.table_results th,
.table_results td {
    padding-block: 5px;
}

.table_results tr+tr th {
    border: 1px solid white;
    background-color: var(--color3);
}

.table_results tr+tr+tr {
    background-color: white;
}

.table_results tbody tr:first-of-type th {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table_results tbody tr td:first-of-type {
    border-radius: 10px;
}

.table_results tbody td {
    border-radius: 10px;
}


/* TABLA LISTADO */


.table-container {
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000006c;
    overflow-x: auto;
    overflow-y: auto;
    max-height: 77.5vh;
    width: 75vw;
    position: relative;
}

.table-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: var(--color1);
    border-radius: 10px;
}

.table-container::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.table-container {
    scrollbar-width: thin;
    scrollbar-color: var(--color3) #f0f0f0;
}

/* TABLA DE LISTADO */

.table_listado {
    border-collapse: separate;
    font-size: 12px;
    background-color: transparent;
    border-radius: 20px;
}

.table_listado thead {
    color: white;
    background-color: transparent;
    gap: 10px;
}

.table_listado thead tr {
    background-color: transparent;
}

.table_listado th,
.table_listado td {
    padding: 10px;
    text-align: center;
}

.table_listado th {
    font-weight: bold;
    text-align: center;
    border: 1px solid white;
    /* border: 0px solid white; */
    background-color: var(--color4);
    padding-block: 10px;
    padding-inline: 30px;
    border-radius: 15px;
    position: sticky;
    top: 0;
    z-index: 2;
}

.table_listado th:last-of-type {
    border: 0px solid white;
}

.table_listado tr {
    border-bottom: 1px solid #ececec;
    text-align: center;
    vertical-align: middle;
}

.table_listado .fila_disp_no {
    background-color: #ffefef;
}

.table_listado .fila_disp_no:hover {
    background-color: #ffdada;
}

.table_listado tbody tr:hover {
    background-color: #d1ffcf;
}

.table_listado td {
    border-block: 1px solid #f3f3f3;
}

.table_listado td i {
    font-size: 20px;
}

.table_listado th.opciones_column {
    background-color: #111057;
    z-index: 3;
    padding-inline: 5px;
}

.table_listado td.opciones_column {
    background: linear-gradient(270deg, #bdbdbd00 30%, #ffffff4b 70%);
    border-bottom: 1px solid #c2c2c2;
}

.table_listado .opciones_column {
    position: sticky;
    right: 0;
    z-index: 1;
}

.table_listado .opciones_fila {
    display: flex;
    width: fit-content;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.table_listado .opciones_fila button i {
    padding: 7px;
    height: 30px;
    transition: 0.1s ease;
    font-size: 150%;
    border-radius: 100%;
    text-align: center;
}

.opciones_fila button {
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

.opciones_fila button:hover {
    background-color: #1e1c7a;
    color: white;
}

.acciones {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.acciones * {
    display: flex;
}

.acciones a {
    color: black;
    text-decoration: none;
}

.acciones img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}


.acciones .opciones_fila {
    display: flex;
}



.bloque_progreso {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0px;
    color: black;
}

.progress-bar-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    height: 7.5px;
    margin-bottom: 10px;
    display: flex;
    /* flex-direction: column; */
    gap: 30px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: red;
    text-align: center;
    color: white;
    line-height: 10px;
    transition: width 0.3s, background-color 0.3s;
}

#progressText {
    color: black;
    font-size: 130%;
    display: flex;
}

.progreso_input {
    background-color: transparent;
    border: 0;
    text-align: right;
    padding: 0px;
    color: black;
    width: 5vw;
}

/* .percent {
    position: relative;
    right: 10px;
} */


.celda_numero {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.celda_numero p {
    height: 30px;
    min-width: 30px;padding-inline: 5px;
    text-align: center;
    border-radius: 10px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nro_fuego p {
    background-color: var(--color-fuego);
    color: white;
}

.nro_aire p {
    background-color: var(--color-aire);
    color: black;
}

.nro_agua p {
    background-color: var(--color-agua);
    color: white;
}

.nro_tierra p {
    background-color: var(--color-tierra);
    color: white;
}

th.nro_tierra,
th.nro_aire,
th.nro_agua,
th.nro_fuego {
    width: 8vw;
    padding-inline: 15px;
}

th.nro_fuego {
    background-color: color-mix(in srgb, var(--color4) 70%, var(--color-fuego)  40%);
}

th.nro_aire {
    background-color: color-mix(in srgb, var(--color4) 70%, var(--color-aire)   40%);
}

th.nro_agua {
    background-color: color-mix(in srgb, var(--color4) 70%, var(--color-agua)   40%);
}

th.nro_tierra {
    background-color: color-mix(in srgb, var(--color4) 70%, var(--color-tierra) 40%);
}


/* 

.form_info_domus .img_logo_domus {
    background-color: #b3b3b3;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    border: 2px dashed #d8d8d8;
}

.form_info_domus img {
    height: 100px;
}

.form_info_domus .titulo_form {
    text-align: center;
    color: darkblue;
}

.form_info_domus textarea {
    height: 200px;
}

.espacio_img {
    background-color: #dadada;
    border: 1px dashed #505050;
    justify-content: center;
    display: flex;
    padding: 10px;
}

.espacio_img img {
    height: 150px;
}


.color_texto p {
    border-radius: 5px;
    color: white;
    padding-inline: 10px;
    padding-block: 5px;
    margin: 0;
}










p {
    margin: 0;
    padding: 0;
}


#break_nav {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
}

#break_nav .col {
    display: flex;
    flex-direction: column;
}

.form-control ,
.form-select {
    font-size: 100%;
}

.lblchoosie {
    margin-bottom: 10px;
}

.choosie {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 200px;
}

.input-group {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 12px;
}

.input-group input {
    width: 250px;
    border-radius: 5px;
    padding: 10px;
}

.searchi {
    background-color: #1e1c7a;
    border: none;
    padding: 10px 15px;
    border-radius: 12px;
    cursor: pointer;
}

.input-group #button-addon2 {
    border-radius: 12px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.search_loupe {
    width: 18px;
    height: 18px;
    filter: brightness(0) invert(1); 
}

.main_btn {
    background-color: #1e1c7a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.main_btn:hover {
    background-color: #218aec;
}

.btn_return {
    background-color: #7818b8;
}

section .row {
    align-items: center;
}

.row select:hover {
    box-shadow: 0px 0px 5px blue;
}



.celda_id {
    font-weight: bold;
    font-size: 125%;
}


.celda_precio {
    font-weight: bold;
    font-size: 110%;
}


.espacio_vacio {
    display: flex;
    justify-content: center;
}

.espacio_vacio p{
    margin: 0;
    background-color: #8b8b8b;
    border-radius: 5px;
    color: white;
    font-size: 90%;
    padding-inline: 10px;
    padding-block: 5px;
}

.table_listado tr .celda_texto_bloque {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.celda_texto_bloque img {
    width: 7vw;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
}



.num_cant {
    background-color: #111057;
}

.num_cero {
    background-color: #8b8b8b;
}


.disponibilidad {
    background: #333;
    color: white;
    border-radius: 5px;
    font-size: 90%;
    padding-inline: 10px;
    padding-block: 5px;
    margin: 0;
}

.disp_si {
    background-color: #008000;
}

.disp_no {
    background-color: #ff0000;
}

.celda_estado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.celda_texto_bloque .disponibilidad {
    font-size: 80%;
    padding-inline: 5px;
    padding-block: 3px;
    width: 100%;
}

.estado_comentario {
    background: #333;
    color: white;
    border-radius: 5px;
    font-size: 90%;
    padding-inline: 10px;
    padding-block: 5px;
    margin: 0;
}

.texto_estado_2 {
    background-color: #3432bd;
}

.texto_estado_1 {
    background-color: #008000;
}

.texto_estado_0 {
    background-color: #ff0000;
}

.genero {
    background: #333;
    color: white;
    border-radius: 5px;
    font-size: 90%;
    padding-inline: 10px;
    padding-block: 5px;
    margin: 0;
}

.gen_mas {
    background-color: #03a8d1;
}

.gen_fem {
    background-color: #a061d3;
}




#grid_resultados {
    text-align: center;
    justify-self: center;
    border-collapse: separate;
}

#grid_resultados tr th,
#grid_resultados tr td {
    width: 70px;
    padding: 5px;
    border: 1px solid #ffffff;
}

#grid_resultados tr th {
    background-color: #111057;
    color: white;
    font-size: 80%;
    font-weight: lighter;
}

#grid_resultados #num_resultados {
    background-color: #e4efff;
}

#grid_resultados #num_disp_si {
    background-color: #c6ffc6;
}

#grid_resultados #num_disp_no {
    background-color: #ffefef;
}





.bloque_color_1 {
    background-color: #ff0000;
}

.bloque_color_2 {
    background-color: #ff7300;
}

.bloque_color_3 {
    background-color: #fffb00;
}

.bloque_color_4 {
    background-color: #7bff00;
}

.bloque_color_5 {
    background-color: #00ffc8;
}


 */