.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
  
#head{
    margin: 20px;
}



  .card {
    width: 45%; 
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease; 
  }
  
  .card:hover {
    transform: translateY(-10px); 
  }
  
  .card h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .icon {
    border: none;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    height: 35px;
    width: 35px;
  }
  
  .positive{
    background-color: #10833c;
  }

 .negative{
    background-color: #a42323;
  }

  .positive_desactivado,
  .negative_desactivado {
    background-color: #858181 !important;
    cursor: none;
    transition: none !important;
    animation: none !important;
    transform: none !important;
  }
  


  .icon:hover {
    background-color: #d2a207;
    color: white;
    transform: scale(1.1);
  }
  
  .magnify button {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 0px;
    margin: 0px;
    padding-bottom: 5px;
  }
  .magnify{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
  }

  #flechas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
  }
.flecha{
  background-color: rgb(75, 75, 203);
}
  .texto_boton{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
  }
  .text{
    padding-right: 70px;
  }

  button {
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  button:hover {
    transform: translateY(-5px); 
  }
  
  button i {
    margin-right: 10px; 
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  button:hover {
    animation: bounce 0.5s ease infinite; 
  }
  