table,
th,
tr,
td,
label {
  color: black;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.col {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

table input {
  background-color: transparent;
  border: 0;
  width: 25px;
  text-align: center;
  color: black;
}

.grid-info {
  display: grid;
  /* grid-template-areas: 
                      "c_info c_tabla"
                      "c_info c_grafico"
                      "c_progreso c_grafico"
                      "c_adicional c_grafico"
  ; */
  grid-template-areas:
    "c_info c_info"
    "c_progreso c_grafico"
    "c_tabla c_grafico"
    "c_adicional c_grafico"
  ;
}

.campo_info {
  grid-area: c_info;
}

.campo_progreso {
  grid-area: c_progreso;
}

.campo_tabla {
  grid-area: c_tabla;
}

.campo_grafico {
  grid-area: c_grafico;
}

.campo_adicional {
  grid-area: c_adicional;
}

.campo_info input {
  border: 1px solid #b9b9b9;
  background-color: white;
  color: #000;
  border-radius: 5px;
  padding-inline: 10px;
  padding-block: 5px;
  text-align: center;
}

table {
  border-collapse: separate;

}
/* 
th,
td {
  border: 1px solid black;
} */

th {
  background-color: color-mix(in srgb, var(--color1) 30%, #2b2b2b 90%);
  color: white;
}

td {
  background-color: #dddddd;
  color: white;
}

tr td:first-of-type {
  background-color: #595959;
  color: white;
}

th.nro_tierra,
th.nro_aire,
th.nro_agua,
th.nro_fuego {
  width: 8vw;
  padding-inline: 15px;
}

th.nro_fuego {
  background-color: color-mix(in srgb, var(--color1) 60%, var(--color-fuego) 80%);
}

th.nro_aire {
  background-color: color-mix(in srgb, var(--color1) 60%, var(--color-aire) 80%);
}

th.nro_agua {
  background-color: color-mix(in srgb, var(--color1) 60%, var(--color-agua) 80%);
}

th.nro_tierra {
  background-color: color-mix(in srgb, var(--color1) 60%, var(--color-tierra) 80%);
}