{% extends 'maestra_administrador.html' %}


{% block titulo %}
Dashboard
{% endblock %}



{% block estilos %}
<link rel="stylesheet" href="/static/css/dashboard.css" />
{% endblock %}


{% block header %}
Dashboard de Resultados de Participantes
{% endblock %}



{% block nav %}
Lista de Resultados
{% endblock %}



{% block contenido %}

{% if nombreBusqueda %}
<div class="row">
  <div class="col-3">
    <div class="input-group">
      <a class="" href="{{ url_for('dashboard') }}">
        <button type="button" class="button_volver">Volver al Listado General</button>
      </a>
    </div>
  </div>
</div>
{% endif %}

<div class="row">

  <div class="col-4">

    <table id="" cellspacing="0" class="table_results">
      <tbody>
        <tr>
          <th colspan="3">Resultados</th>
        </tr>
        <tr>
          <th>Total</th>
          <th>Finalizados</th>
          <th>En proceso</th>
        </tr>
        <tr>
          <td id="num_resultados"></td>
          <td id="num_disp_si"></td>
          <td id="num_disp_no"></td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="col campo_buscar">
    <form enctype="multipart/form-data" method="GET" action="{{ url_for('buscarResultado') }}">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar por nombres y apellidos"
          aria-label="Recipient's username" aria-describedby="button-addon2" id="buscarElemento" name="buscarElemento"
          maxlength="45" {% if nombreBusqueda %} value="{{nombreBusqueda}}" {% endif %} />
        <button class="btn btn-outline-secondary searchi" type="submit" id="button-addon2">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    </form>
  </div>

</div>

<div class="table-container">
  <table cellspacing="0" class="table_listado">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre Completo</th>
        <th>Fecha y Hora Registro</th>
        <th>Progreso</th>
        <!-- <th>{{cant_max_progreso}}</th> -->
        <th class="nro_fuego">Resultado Fuego</th>
        <th class="nro_aire">Resultado Aire</th>
        <th class="nro_agua">Resultado Agua</th>
        <th class="nro_tierra">Resultado Tierra</th>
        <th class="opciones_column">Opciones</th>
      </tr>
    </thead>
    <tbody id="productTableBody">
      {% for res in resultados %}
      <tr data-person-id="{{ res.0 }}" class="
            {% if res.3 == cant_max_progreso %}
              fila_disp_si
            {% else %}
              fila_disp_no
            {% endif %}
            ">
        <td class="celda_id">{{ res.0 }}</td>
        <td>{{ res.1 }} {{ res.2 }}</td>
        <td>{{ res.7 }}</td>
        <td>
          <div class="bloque_progreso" data-person-id="{{ res.0 }}">
            <span id="progressText">
              <input disabled class="progreso_input" id="progressInput" min="0" max="100">
              <p class="percent">%</p>
            </span>
            <div class="progress-bar-container">
              <div class="progress-bar" id="progressBar"></div>
            </div>
            <p class="progressNow">
              <span id="cant_now_progreso">{{res.3}}</span>
              /
              <span id="cant_max_progreso">{{cant_max_progreso}}</span>
            </p>
          </div>
        </td>
        <td>
          <div class="celda_numero nro_fuego" data-person-id="{{ res.0 }}">
            <p>{{ res.8*(1) + res.9*(-1) }} </p>
          </div>
        </td>
        <td>
          <div class="celda_numero nro_aire" data-person-id="{{ res.0 }}">
            <p>{{ res.10*(1) + res.11*(-1) }} </p>
          </div>
        </td>
        <td>
          <div class="celda_numero nro_agua" data-person-id="{{ res.0 }}">
            <p>{{ res.12*(1) + res.13*(-1) }}</p>
          </div>
        </td>
        <td>
          <div class="celda_numero nro_tierra" data-person-id="{{ res.0 }}">
            <p>{{ res.14*(1) + res.15*(-1) }}</p>
          </div>
        </td>
        <td class="opciones_column">
          <div class="acciones">
            <!-- <a class="opciones_fila" href="{{url_for('index', id=res[0])}}">
              <button type="submit">
                <i class="fa-solid fa-chart-column"></i>
              </button>
            </a> -->
            <a class="opciones_fila" href="{{url_for('ver_informacion', id=res[0])}}">
              <button type="submit">
                <i class="fa-solid fa-circle-info"></i>
              </button>
            </a>
            <form class="opciones_fila" action="{{ url_for('eliminar_info_participante') }}" method="POST"
              onsubmit="return confirmarEliminacion()" id="deleteF">
              <input type="hidden" name="par_id" id="par_id" value="{{ res.0 }}" />
              <button type="submit">
                <i class="fa-solid fa-trash-can"></i>
              </button>
            </form>

          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}



{% block scripts %}
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"
  integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" crossorigin="anonymous"></script>
<script>
  function confirmarEliminacion() {
    return confirm('¿Estás seguro que deseas eliminar este registro? Esta acción no se puede deshacer.')
  }

  const socket = io();

  socket.on("connect", function () {
    console.log("Socket Activo.!");
  });

  socket.on("disconnect", function () {
    console.log("Socket Desconectado.!");
  });

  function putValueCellNumber(id, elemento, valor) {
    const rows = document.querySelectorAll("#productTableBody tr");
    for (const row of rows) {
      const personId = row.getAttribute('data-person-id');
      if (parseInt(personId) === parseInt(id)) {
        var filaAux = row.querySelector(elemento);
        filaAux.innerHTML = valor;
      }
      row.querySelector("#progressInput").dispatchEvent(new Event('input'));
    }
  }

  function actualizarFilas(datos) {
    datos.forEach(res => {
      putValueCellNumber(res[0], "#cant_now_progreso", (res[1]));
      putValueCellNumber(res[0], ".nro_fuego  p", (res[2] - res[3]));
      putValueCellNumber(res[0], ".nro_aire   p", (res[4] - res[5]));
      putValueCellNumber(res[0], ".nro_agua   p", (res[6] - res[7]));
      putValueCellNumber(res[0], ".nro_tierra p", (res[8] - res[9]));
    });
  }

  socket.on("update_valores", (data) => {
    // console.log(data.resultados);
    actualizarFilas(data.resultados);
    mostrarProgreso();
  });

  // socket.emit("get_tabla");

  setInterval(() => {
    // progresoResultado();
    socket.emit("get_valores");
  }, 1500);


  function mostrarProgreso() {
    const bloques = document.querySelectorAll(".bloque_progreso");
    bloques.forEach(bloque => {
      const progressInput = bloque.querySelector("#progressInput");
      const progressBar = bloque.querySelector("#progressBar");
      const progressNow = bloque.querySelector("#cant_now_progreso");
      const progressMax = bloque.querySelector("#cant_max_progreso");

      progressInput.value = parseFloat(parseFloat(progressNow.textContent) * 100 / parseFloat(progressMax.textContent));
      progressInput.dispatchEvent(new Event('input'));

      const calculateColor = (percentage) => {
        const red = Math.max(0, 255 - Math.floor((percentage / 100) * 255));
        const green = Math.min(255, Math.floor((percentage / 100) * 255));
        return `rgb(${red}, ${green}, 70)`;
      };

      function calcularValor() {
        var percentage = parseFloat(progressInput.value);
        progressBar.style.width = `${percentage}%`;
        progressBar.style.backgroundColor = calculateColor(percentage);

        if (!isNaN(percentage)) {
          progressInput.value = percentage.toFixed(2);
        }
      }

      calcularValor();

      progressInput.addEventListener("input", () => {
        calcularValor();
      });

    });

  }
  mostrarProgreso();


</script>
<script src="/static/js/filtroCRUDListado.js"></script>

{% endblock %}