<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/common_styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/all.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/fontawesome.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/fonts.css" />
    <link rel="stylesheet" href="/static/css/common_styles/common_style.css" />
    <link rel="stylesheet" href="/static/css/espera.css" />

    {% block estilos %}

    {% endblock %}
  </head>

  <body>
    <div id="particles-background" class="vertical-centered-box"></div>
    <div id="particles-foreground" class="vertical-centered-box"></div>

    <div class="vertical-centered-box">
      <div class="content"></div>
    </div>

    {% block contenido %}



    {% endblock contenido %}


    <script src="/static/js/espera.js"></script>

    {% block scripts %}
    
    {% endblock scripts %}

  </body>
</html>
