<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common_styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/all.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/fontawesome.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/fonts.css" />
    <link rel="stylesheet" href="/static/css/common_styles/common_style.css" />
    <link rel="stylesheet" href="/static/css/admin_style.css">
    {% block estilos %}
    {% endblock %}
    <title>
        {% block titulo %}
        {% endblock %} | Resultados del Test de Temperamento
    </title>
</head>

<body class="general_body">
    <header class="general_element">
        <div class="header_item subheader">
            <p class="fw-bolder">
                {% block header %}
                {% endblock %}
            </p>
        </div>
        <nav class="header_item general_element">
            <p class="">
                {% block nav %}
                {% endblock %}
            </p>
        </nav>
    </header>

    <aside class="general_element">
        <div class="aside_info">
            <div class="aside_item">
                {{user_info_1}}
            </div>
            <div class="aside_item">
                <b>{{user_info_2}}</b>
            </div>
        </div>
        <hr>
        <div class="aside_options">
            <a class="aside_item" href="{{url_for('dashboard')}}">Dashboard</a>
            <a class="aside_item" href="{{url_for('logout')}}">CERRAR SESIÓN</a>
        </div>
    </aside>

    <section class="general_element">
        {% block contenido %}
        {% endblock %}
    </section>

    <!-- <footer class="general_element">
    </footer> -->

    <script src="/static/js/common_scripts/bootstrap.bundle.min.js"></script>
    <script src="/static/js/common_scripts/bootstrap.min.js"></script>
    <script src="/static/js/common_scripts/common_script.js"></script>
    <!-- <script src="/static/js/general_script.js"></script> -->
    {% block scripts %}
    {% endblock %}

</body>

</html>