<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common_styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/all.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/fontawesome.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/fonts.css" />
    <link rel="stylesheet" href="/static/css/common_styles/common_style.css" />
    <link rel="stylesheet" href="/static/css/pregunta.css">
    {% block estilos %}
    {% endblock %}

</head>

<body>
    <div class="container">
        <div class="card">
            <h2>ENTUSIASTA</h2>
            <div class="icons">
                <span class="icon positive">+</span>
                <span class="icon negative">-</span>
            </div>
            <div class="magnify">
                🔍
            </div>
        </div>
        <div class="card">
            <h2>RÁPIDO</h2>
            <div class="icons">
                <span class="icon positive">+</span>
                <span class="icon negative">-</span>
            </div>
            <div class="magnify">
                🔍
            </div>
        </div>
        <div class="card">
            <h2>LÓGICO</h2>
            <div class="icons">
                <span class="icon positive">+</span>
                <span class="icon negative">-</span>
            </div>
            <div class="magnify">
                🔍
            </div>
        </div>
        <div class="card">
            <h2>APACIBLE</h2>
            <div class="icons">
                <span class="icon positive">+</span>
                <span class="icon negative">-</span>
            </div>
            <div class="magnify">
                🔍
            </div>
        </div>
    </div>
</body>

</html>
