<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/common_styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/all.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/fontawesome.min.css" />
    <link rel="stylesheet" href="/static/css/common_styles/fonts.css" />
    <link rel="stylesheet" href="/static/css/common_styles/common_style.css" />
    <link rel="stylesheet" href="/static/css/admin_style.css">
    {% block estilos %}
    {% endblock %}
    <title>
        {% block titulo %}
        {% endblock %} | Resultados del Test de Temperamento
    </title>
</head>

<body class="general_body">
    <header class="general_element">
        <div class="header_item subheader">
            <p class="fw-bolder">
                {% block header %}
                {% endblock %}
            </p>
        </div>
        <nav class="header_item general_element">
            <p class="">
                {% block nav %}
                {% endblock %}
            </p>
        </nav>
    </header>

    <aside class="general_element">
        <div class="aside_info">
            <div class="aside_item">
                <i class="fa-solid fa-user"></i> <b>{{user_info_2}}</b>
            </div>
            <div class="aside_item">
                {{user_info_1}}
            </div>
        </div>
        <hr>
        <div class="aside_options">
            <a class="" href="{{url_for('dashboard')}}">
                <button class="aside_item">
                    <i class="fa-solid fa-list"></i>
                    <p>Dashboard</p>
                </button>
            </a>
            <button class="aside_item" onclick="openModal()">
                <i class="fa-solid fa-power-off"></i>
                <p>Activar Test</p>
            </button>
            <a href="{{url_for('dashboard')}}">
                <button class="aside_item falta">
                    <i class="fa-solid fa-envelope"></i>
                    <p>Modelo de Mensaje por Correo</p>
                </button>
            </a>
            <a href="{{url_for('temas')}}">
                <button class="aside_item falta">
                    <i class="fa-solid fa-brush"></i>
                    <p>Temas del Sitio</p>
                </button>
            </a>
        </div>
        <hr>
        <div class="aside_options">
            <a href="{{url_for('dashboard')}}">
                <button class="aside_item falta">
                    <i class="fa-solid fa-key"></i>
                    <p>Cambiar de Contraseña</p>
                </button>
            </a>
            <a class="" class="" href="{{url_for('logout')}}" onclick="return confirmarLogOut()">
                <button class="button_borrar">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    <p>Cerrar Sesión</p>
                </button>
            </a>
        </div>
    </aside>

    <section class="general_element">
        {% block contenido %}
        {% endblock %}
    </section>

    <!-- <footer class="general_element">
    </footer> -->
    <script>
        function confirmarLogOut() {
            return confirm('¿Estás seguro que deseas cerra sesión?')
        }
    </script>
    <script src="/static/js/common_scripts/bootstrap.bundle.min.js"></script>
    <script src="/static/js/common_scripts/bootstrap.min.js"></script>
    <script src="/static/js/common_scripts/common_script.js"></script>
    <script src="/static/js/token_modal.js"></script>

    <!-- <script src="/static/js/general_script.js"></script> -->
    {% block scripts %}
    {% endblock %}

</body>

<!-- Modal -->
<div id="tokenModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ACTIVACIÓN DEL TEST</h5>
            </div>
            <div class="modal-body">
                <p>Ingrese su token de administrador</p>
                <input type="password" id="adminToken" class="form-control" placeholder="Token de administrador" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" onclick="closeModal()">Cancelar</button>
                <button class="btn btn-primary" onclick="sendToken()">Enviar</button>
            </div>
        </div>
    </div>
</div>



</html>