<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/espera_dos.css" />
</head>

<body>
    <div id="container-uno" class="container">
        <div id="uno" class="box"></div>
    </div>
    <div id="container-dos" class="container">
        <div id="dos" class="box"></div>
    </div>
    <div id="container-tres" class="container">
        <div id="tres" class="box"></div>
    </div>
    <div id="container-cuatro" class="container">
        <div id="cuatro" class="box"></div>
    </div>
</body>

</html>
