<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado</title>
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    <link rel="stylesheet" href="../../static/css/resultado_no.css">
</head>
<body>
    <div id="google-chart" class="chart-container">
        <!-- Aquí debes insertar el código del gráfico de barras -->
    </div>
    <script src="../../static/js/grafico_resultado.js"></script>
</body>
</html>