{% extends "maestra_form.html" %}

{% block titulo %}
Registrate
{% endblock %}

{% block estilos %}
{% endblock %}

{% block contenido %}
<div class="container_form cont_form_2">
    <form class="sign_up_form" action="">
        <h2>Registrate</h2>
        <div class="form_element">
            <input required type="text" id="" name="" placeholder="Nombres">
            <input required type="text" id="" name="" placeholder="Apellidos">
        </div>
        <div class="form_element">
            <input required type="text" id="" name="" placeholder="Correo Electrónico">
            <input required type="text" id="" name="" placeholder="Nro Telefono">
        </div>
        <div class="form_element">
            <input required type="date" id="" name="" placeholder="Fecha de Nacimiento">
            <input required type="text" id="" name="" placeholder="Nombre de Usuario">
            <!-- <input required type="text" id="" name="" placeholder="Nombre de Usuario"> -->
        </div>
        <div class="form_element">
            <input required type="password" id="" name="" placeholder="Contraseña">
            <input required type="password" id="" name="" placeholder="Confirmar Contraseña">
        </div>
        <button type="submit">Registrarse</button>
        <p>
            ¿Ya tienes una cuenta?
            <a href="{{url_for('login')}}">Inicia sesión aquí</a>
        </p>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}