@import url("/static/css/common_styles/colores.css");

:root {
    --height-header: 20vh;
    --height-footer: 50vh;
    --height-aside: 90vh;
    --height-section: 1vh;
}

body {
    font-family: Poppins, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

h1 , h2 , p {
    margin: 0;
}

